@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #EEEEEE;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #2a2a2a;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
/*ここからナビ*/
.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}
.header_inner {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  transition: 0.3s;
}
.header_inner.change-color {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
.header_site-title h1:hover {
  color: #2a2a2abb;
}
.site-title_text {
  font: 2.3em Verdana, Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #2a2a2a;
  transition: all 0.2s;
}
.horizontal-nav {
  display: flex;
}
.horizontal-nav_item {
  list-style: none;
  list-style-type: none;
  margin-left: 33px;
}
.horizontal-nav_item a {
  font-size: 2em;
  transition: all 0.2s;
}
.horizontal-nav_item a:hover {
  color: #2a2a2abb;
}

/*ハンバーガーメニュー*/
/* 全体調整CSS */
.hamburger-menubox *{
	font-size: 16px;
}
.hamburger-menubox li{
	font-size: 14px;
}
/* hamburgerここから */
	/* input非表示 */
.input-hidden{
	display: none;
}
	/* label */
.hamburger-switch{
	cursor: pointer;
	position: absolute;
	right: 3%;
	top: 0;
	z-index: 9999;
}
/* メニュー展開時にハンバーガーアイコンを固定 */
#hamburger-input:checked ~ .hamburger-switch{
	position: fixed;
}
/* ハンバーガーアイコン */
.hamburger-input-switch:before, .hamburger-switch-slide:before, .hamburger-switch-slide:after{
	width: 25px;
	height: 3px;
	background: #333; /* ハンバーガーアイコンの色 */
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .3s;
	content: "";
}
.hamburger-input-switch:before{
		transform: translate(-50%, -50%);
}
.hamburger-switch-slide:before{
	transform: translate(-50%, -300%);
}
.hamburger-switch-slide:after{
	transform: translate(-50%, 200%);
}
/* メニューエリア */
.hamburger-menuwrap{
	position: fixed;
	height: 100%;
	background: #fafafa; /* メニューエリアの背景色 */
	padding: 5em 3% 2em;
	z-index: 9998;
	transition: .3s;
	overflow-y: scroll; /* メニューリストが多い場合に縦スクロール */
	top: 0;
	left: 100%;
	width: 70%;
}
/* メニューリスト */
.hamburger-menulist{
	margin-right: 3%;
	padding-left: 5% !important; /* !importantは不要な場合あり */
	list-style: none;
}
.hamburger-menulist li a{
	text-decoration: none;
	color: #333; /* メニューリスト項目の文字色 */
	display: block;
	padding: .5em 0;
}
/* メニューエリアアニメーション */
	/* 右から */
#hamburger-input:checked ~ .hamburger-menuwrap{
	left: 30%;
}
	/* コンテンツカバー */
#hamburger-input:checked ~ .hamburger-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(3,3,3,.5);
	display: block;
}
/* 疾走感スタイリッシュ･デザイン */
	/* 外側四角枠 */
.hamburger-input-switch{
	width: 3em;
	height: 3em;
	transform: translate(0% ,15%);
	border: 1px solid #333;
	overflow: hidden;
}
	/* ボーダースライド */
.hamburger-input-switch:before, .hamburger-switch-slide:before, .hamburger-switch-slide:after{
	transition: .2s;
}
.hamburger-switch-slide:before{
	transition-delay: 0;
}
.hamburger-input-switch:before{
	transition-delay: .1s;
}
.hamburger-switch-slide:after{
	transition-delay: .2s;
}
#hamburger-input:checked ~ .hamburger-input-switch:before, #hamburger-input:checked ~ .hamburger-input-switch .hamburger-switch-slide:before, #hamburger-input:checked ~ .hamburger-input-switch .hamburger-switch-slide:after{
	left: 500%;
}
	/* ×マークスライド */
  .hamburger-input-switch:after{
	content: "×";
	font-size: 2.5em;
	position: absolute;
	top: 50%;
	left: -500%;
	transform: translate(-50%, -50%);
	transition: .3s;
}
#hamburger-input:checked ~ .hamburger-input-switch:after{
	left: 50%;
}
	/* メニューリストの矢印風ボーダー */
.hamburger-menulist-slide li{
	position: relative;
  transition: all .2s linear;
}
.hamburger-menulist-slide a::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 1em;
	border: 1.5px solid;
	border-color: transparent #333 #333 transparent;
	left: 50%;
	bottom: 0;
	transform: skewx(45deg) translate(-50%, -50%);
  transition: all .2s linear;
}
.hamburger-menulist-slide a:hover::before{
  right: 3px;
}
/*ここからヘッダー*/
.fv {
  width: 100%;
  height: 100vh;
}
.fv::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_body.jpg");
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
}
.fav_heading {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}
.fav_text {
  color: #ffffff;
  font-size: 6.5em;
  font-weight: 500;
}

/*========= スクロールダウンのためのCSS ===============*/

/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
right: 35px;
bottom:20px;
  /*全体の高さ*/
height:90px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
position: absolute;
left: 6px;
top: 30px;
  /*テキストの形状*/
color: #eee;
font-size: 13px;
letter-spacing: 0.05em;
writing-mode: vertical-rl;
}

/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 2px;
height: 50px;
background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:45px;
  opacity: 1;
}
100%{
  height:0;
  top:100px;
  opacity: 0;
}
}

/*ここからABOUT*/
.about {
  width: 100%;
  background-color: #fff;
}

.section_inner {
  padding: 100px 30px 160px;
  max-width: 1260px;
  margin: 0 auto;
}
.section_title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 60px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.about_contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile_img a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ffffff9b;
}
.profile_img img {
  height: 360px;
  display: inline-block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.602);
  transition: .3s;
}
.profile_img img:hover {
  box-shadow: none;
  opacity: 0.9;
}

.profile_me {
  padding-left: 50px;
}
.about_explain {
  font-size: 2rem;
  font-weight: 250;
  color: #2a2a2a;
}

/*ここからMORE botton*/
/*矢印が右に移動して背景がつく*/
.about_more {
  text-align: center;
  margin-top: 50px;
  position: relative;
}
.btnarrow5{
  font-size: 2em;
  font-weight: 400;
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  padding: 8px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #333;
  outline: none;
  /*アニメーションの指定*/
  transition: all .2s linear;
}

.btnarrow5:hover{
  font-weight: 700;
}

/*矢印と下線の形状*/
.btnarrow5::before{
  content: "";
  position: absolute;
  top: 43px;
  right: 11px;
  width: 97px;
  height: 2px;
  background: #333;
  transition: all .2s linear;
}

.btnarrow5::after{
  content: "";
  position: absolute;
  top: 32px;
  right: 16px;
  width: 2px;
  height: 13px;
  background: #333;
  transform: skewX(
45deg);
  transition: all .2s linear;
}
/*hoverした際の移動*/
.btnarrow5:hover::before{
right: 8px;
}
.btnarrow5:hover::after{
right: 12px;
}

/*ここからWorks*/
.works {
  background-color: #100e13;
  background-image: url(../img/bg_works.png);
  background-position: right 0 top 30%;
	background-repeat: no-repeat;
	background-size: 80% auto;
}
.works_title {
  color: #ffffff;
}
.works_contents {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 2.3%;
}
.works_item {
  background-color: #ffffff;
  width: 31%;
  height: auto;
  margin-right: 2.3%;
  transition: .4s;
  margin-bottom: 40px;
}
.works_item a {
  width: 100%;
  height: auto;
  display: inline-block;
}
.item_img {
  width: 100%;
  overflow:hidden;
  height: auto;
}
.works_item:hover .thumbnail {
  transform:scale(1.2);
  opacity: 0.8;
}
.thumbnail {
  vertical-align: top;
  width: 100%;
  height: auto;
  transition:.5s all;
}


/*ここからコンタクトフォーム*/
.contact {
  background-color: rgba(255, 255, 255, 0.07);
}
.contact_title {
  color: #000;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
#form label {
  color: #000;
  font-size: 1.2em;
  font-weight: 250;
}
#form input {
  outline: none;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
#form input::placeholder {
  color:rgba(10, 10, 10, 0.7)
}
#form textarea {
  outline: none;
  width: 100%;
  height: 200px;
  padding: 16px 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.08);
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
#form textarea::placeholder {
  color:rgba(10, 10, 10, 0.7);
  font-weight: 600;
}
#form_submit {
  color: #2a2a2a;
  font-weight: 550;
  margin: 0 auto;
  width: 180px;
  transition: .3s all;
}
#form_submit:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/*ここからフッター*/
.copy-right {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 900px) {
  .works {
    background-size: auto 100%;
  }
}
@media screen and (min-width: 769px) {
  /*ハンバーガーメニュー*/
  .hamburger-switch{
		display: none;
	}
}
@media screen and (max-width: 768px) {
  /*ヘッダー*/
  .header_nav {
    display: none;
  }
  /*ここからファブ*/
  .fav_text {
    font-size: 8vw;
  }

}
